# OS or Editor folders
.DS_Store
images/.DS_Store
images/products/.DS_Store
/.idea/.gitignore
/.idea/jsLinters/jshint.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/tiendalicandeo.iml
/.idea/vcs.xml
